# Environment variables
.env

# Session and Database files
data/*.json
data/*.db
data/session*
*.session

# Logs
logs/
*.log

# Python cache & virtual environment
__pycache__/
*.pyc
*.pyo
venv/
.venv/
.pytest_cache/
